body
  font-family: "M PLUS Rounded 1c", sans-serif

.font-kaisei-opti
  font-family: "Kaisei Opti", "M PLUS Rounded 1c", sans-serif

.font-kiwi-maru
  font-family: "Kiwi Maru", "M PLUS Rounded 1c", sans-serif

.font-cairo
  font-family: "Cairo", "M PLUS Rounded 1c", sans-serif
